{% macro array_key(key) %}
    {% if key is not empty %}
        <span class="key">[{{ key }}]:</span>
    {% endif %}
{% endmacro %}




{% macro array_block(title, data, level, show_keys) %}

    {% spaceless %}
    {% set id = random(1000) %}
    <label for="tree_array_{{ id }}">
        {% if array_key is not empty %}
            <span class="key">[{{ title }}]:</span>
        {% endif %}

        <span class="switcher">{{ title }}</span>
    </label>
    <input type="checkbox" id="tree_array_{{ id }}">
    <ol>
        {% for key,var in data %}
        <li>
            {{ var.render(key, 'html')|raw }}
        </li>
        {% endfor %}
    </ol>
    {% endspaceless %}
{% endmacro %}

{% macro visibility_value(visibility) %}
    {% if visibility == constant('Ladybug\\Type\\ObjectType\\VisibilityInterface::VISIBILITY_PRIVATE') %}
        private
    {% elseif visibility == constant('Ladybug\\Type\\ObjectType\\VisibilityInterface::VISIBILITY_PROTECTED') %}
        protected
    {% else %}
        public
    {% endif %}
{% endmacro %}

{% macro render_object_method(method) %}
    <span>{{ _self.visibility_value(method.visibility) }}</span>
    <span>{{ method.name }}</span>
    <span>(</span>

    {% for methodParameter in method.parameters %}

        {% if methodParameter.type is not empty %}
            <span>{{ methodParameter.type }}</span>
        {% endif %}

        <span>${{ methodParameter.name }}</span>
        {% if methodParameter.defaultValue is not null %}
            <span> = {{ methodParameter.defaultValue.type }} {{ methodParameter.defaultValue.formattedValue }}</span>
        {% endif %}

        <span>{% if not loop.last %}, {% endif %}</span>
    {% endfor %}

    <span>)</span>
{% endmacro %}
