<script type="text/template" id="ladybug_css_{{ id }}">
    {{ css|raw }}
</script>

<script type="text/template" id="ladybug_js_{{ id }}">
    {{ js|raw }}
</script>

<script type="text/template" id="ladybug_content_{{ id }}">
    {% spaceless %}
    <div class="ladybug">
        {% for node in nodes %}
            {{ render_type(node)|raw }}
            <div class="separator"></div>
        {% endfor %}

        <div class="level_1"><em>{{ callFile }}:{{ callLine }}</em></div>
    </div>
    {% endspaceless %}
</script>

{% include "iframe.html.twig" %}
