{% import "_macros.html.twig" as m %}

<div class="accordion-group">

    <div class="accordion-heading">
        <a class="accordion-toggle {% block type_icon %}{% endblock %}" data-toggle="collapse" data-parent="#subb" href="#c{{ var.id }}">
            <span class="array_key">
                {% if visibility is not null %}
                    <span class="label {{ m.visibility_color(visibility) }}">
                        <i class="icon-eye-open icon-white"></i>
                    </span>
                {% endif %}

                {{ m.array_key(key) }}
            </span>

            <span class="">{% block type %}{{ var.type }}{% endblock %}</span>
            {% if not composed %}
                <span class="type_{{ var.type }}">{% block inline_value %}{{ var.formattedValue }}{% endblock %}</span>
            {% endif %}
        </a>
    </div>

    {% if composed %}
        <div id="c{{ var.id }}" class="accordion-body no-transition collapse {% if (expanded == true or type_expanded) and not var.terminal %}in{% endif %}">
            <div class="accordion-inner">
                {% block value %}{% endblock %}
            </div>
        </div>
    {% endif %}
</div>
