{% import "_macros.html.twig" as m %}

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle">
            <span class="array_key">
                {% if visibility is not null %}
                    <span class="label {{ m.visibility_color(visibility) }}">
                        <i class="icon-eye-open icon-white"></i>
                    </span>
                {% endif %}

                {{ m.array_key(key) }}

            </span>

            <span class="">/{{ var.level }}/ {% block type %}{{ var.type }}{% endblock %}</span>
            <span class="type_{{ var.type }}">{% block value %}{{ var.formattedValue }}{% endblock %}</span>
        </a>
    </div>
</div>
