



{% macro array_key(key) %}
    {% if key is not empty %}
        <span class="label label-info">
            {{ key }}
        </span>
    {% endif %}
{% endmacro %}



{% macro property_visibility(var) %}
    {% if var is not empty %}
    <span class="array_key">

                {% if key.visibility is defined %}
                    <span class="label {{ _self.visibility_color(method.visibility) }}">
                        <i class="icon-eye-open icon-white"></i>
                    </span>
                {% endif %}

                <span class="label label-info">
                    {% if key.name is defined %}
                        {{ key.name }}
                    {% else %}
                        {{ key }}
                    {% endif %}
                </span>
            </span>
    {% endif %}
{% endmacro %}

{% macro visibility_symbol(value) %}
        *
    {% if value == 'public' %}
        +
    {% elseif value == 'protected' %}
        #
        {% else %}
            -
        {% endif %}

{% endmacro %}

{% macro array_block(title, data, level, show_keys) %}

    {% spaceless %}
    {% set id = random(1000) %}
    <label for="tree_array_{{ id }}">
        {% if array_key is not empty %}
            <span class="key">[{{ title }}]:</span>
        {% endif %}

        <span class="switcher">{{ title }}</span>
    </label>
    <input type="checkbox" id="tree_array_{{ id }}">
    <ol>
        {% for key,var in data %}
        <li>
            {{ var.render(key, 'html')|raw }}
        </li>
        {% endfor %}
    </ol>
    {% endspaceless %}
{% endmacro %}


{% macro render_object_method(method) %}
{% set id = random(1000) %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#subb" href="#c{{ id }}">
                <span class="label {{ _self.visibility_color(method.visibility) }}">
                    <i class="icon-eye-open icon-white"></i>
                </span>

                <span>{{ method.name }}({% spaceless %}

                {% for methodParameter in method.parameters %}
                    {% if methodParameter.type is not empty %}
                        {{ methodParameter.type }}
                    {% endif %}
                    ${{ methodParameter.name }}

                    {% if methodParameter.defaultValue is not null %}
                        = <span class="type_{{ methodParameter.defaultValue.type }}">{{ methodParameter.defaultValue.formattedValue }}</span>
                    {% endif %}{% if not loop.last %},{% endif %}
                {% endfor %}{% endspaceless %})
                </span>

            </a>
        </div>
        {% if method.shortDescription is not empty %}
            <div id="c{{ id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{ method.shortDescription }}
                </div>
            </div>
        {% endif %}
    </div>




{% endmacro %}

{% macro render_object_constant(constantf) %}
    {{ render_type(constantf.value)|raw }}
{% endmacro %}

{% macro visibility_color(visibility) %}
    {% if visibility == constant('Ladybug\\Type\\ObjectType\\VisibilityInterface::VISIBILITY_PRIVATE') %}
        label-important
    {% elseif visibility == constant('Ladybug\\Type\\ObjectType\\VisibilityInterface::VISIBILITY_PROTECTED') %}
        label-warning
    {% else %}
        label-success
    {% endif %}
{% endmacro %}
