{% import "_macros.html.twig" as m %}

{% set id = random(1000) %}

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#subb" href="#c{{ id }}">
            {{ m.array_key(array_key) }}
            <span class="">{% block type %}{{ var.type }} ({{ var.length }}){% endblock %}</span>

        </a>
    </div>
    <div id="c{{ id }}" class="accordion-body collapse {% if var.level == 1%}in{% endif %}">
        <div class="accordion-inner">
            {% for key,var in var.value %}

                {{ render_type(var)|raw }}

            {% endfor %}
        </div>
    </div>

</div>
