{% import "_macros.html.twig" as m %}

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#subb" href="#c{{ var.id }}">
            <span class="array_key">
                {% if visibility is not null %}
                    <span class="label {{ m.visibility_color(visibility) }}">
                        <i class="icon-eye-open icon-white"></i>
                    </span>
                {% endif %}

                {{ m.array_key(key) }}

            </span>

            <span class="">{% block type %}{{ var.type }} ({{ var.length }}){% endblock %}</span>

        </a>
    </div>
    <div id="c{{ var.id }}" class="accordion-body collapse {% if expanded or var.level == 1 %}in{% endif %}">
        <div class="accordion-inner">
            {% for item in var.value %}
                {{ render_type(item.value, item.key) }}
            {% endfor %}
        </div>
    </div>
</div>
