{% import "_macros.html.twig" as m %}


{% set id = random(1000) %}

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" {#data-parent="#subb"#} href="#c{{ id }}">
            {{ m.array_key(array_key) }}

            <span class="">{% block type %}{{ var.level}}Object ({{ var.className }}){% endblock %}</span>

        </a>
    </div>
    <div id="c{{ id }}" class="accordion-body collapse {% if var.level == 1%}in{% endif %}">
        <div class="accordion-inner">

            <div style="height:30px; text-align:right">
                <a href="{{ var.helpLink }}" target="_blank" style="text-decoration: none">
                    <i class="metadata-{{ var.icon }}"></i>
                    <span class="muted" style="font-size:9px">{{ var.version }}</span>
                </a>
            </div>

            {% if var.objectCustomData is not empty %}

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" {#data-parent="#subb"#} href="#object_data_{{ id }}">
                            Data
                        </a>
                    </div>
                    <div id="object_data_{{ id }}" class="accordion-body collapse {% if var.level == 1%}in{% endif %}">
                        <div class="accordion-inner">


                            {{ render_type(var.objectCustomData)|raw}}

                        </div>
                    </div>

                </div>

            {% endif %}

            {% if var.objectProperties is not empty %}

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" {#data-parent="#subb"#} href="#object_data_{{ id }}">
                        Properties
                    </a>
                </div>
                <div id="object_data_{{ id }}" class="accordion-body collapse">
                    <div class="accordion-inner">


                        {% for data in var.objectProperties %}
                            {{ render_type(data)|raw }}
                        {% endfor %}

                    </div>
                </div>

            </div>

            {% endif %}





            {% if var.classFile is not empty %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" {#data-parent="#c{{ id }}"#} href="#object_info_{{ id }}">
                        Class info
                    </a>
                </div>
                <div id="object_info_{{ id }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        {% if var.classFile is not empty %}
                            <div class="final">Filename: {{ var.classFile }}</div>
                        {% endif %}
                        {% if var.classInterface is not empty %}
                            <div class="final">Interfaces: {{ var.classInterface }}</div>
                        {% endif %}
                        {% if var.classNamespace is not empty %}
                            <div class="final">Namespace: {{ var.classNamespace }}</div>
                        {% endif %}
                        {% if var.classParent is not empty %}
                            <div class="final">Parent: {{ var.classParent }}</div>
                        {% endif %}
                    </div>
                </div>

            </div>

            {% endif %}

            {% if var.classConstants is not empty %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#c{{ id }}" href="#object_constants_{{ id }}">
                        Class constants
                    </a>
                </div>
                <div id="object_constants_{{ id }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        {% for key,constant in var.classConstants %}
                            {{ m.render_object_constant(constant)|raw }}
                        {% endfor %}
                    </div>
                </div>

            </div>
            {% endif %}

            {% if var.classMethods is not empty %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#c{{ id }}" href="#object_methods_{{ id }}">
                        Methods
                    </a>
                </div>
                <div id="object_methods_{{ id }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        {% for method in var.classMethods %}
                            {{ m.render_object_method(method) }}
                        {% endfor %}
                    </div>
                </div>

            </div>
            {% endif %}



        </div>
    </div>

</div>
