{% extends "_base.html.twig" %}

{% set composed = true %}

{% block type %}{{ parent() }} ({{ var.className }}){% endblock %}

{% if var.icon is not empty %}
    {% block type_icon %}metadata-{{ var.icon }}{% endblock %}
{% endif %}

{% block value %}
    {% if not var.terminal %}

    <div style="height:20px; text-align:right{% if var.helpLink is empty %};display:none{% endif %}">
        <a href="{{ var.helpLink }}" target="_blank" style="text-decoration: none">
            <i class="icon-info-sign"></i>
        </a>
    </div>

    {% if var.objectCustomData is not empty %}
        {{ render_type(var.objectCustomData)|raw }}
    {% endif %}

    {% if var.objectProperties is not empty %}

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#object_data_{{ var.id }}">

                <span>Properties</span>

                <span class="pull-right">
                    <span class="label label-success">{{ var.publicPropertiesNumber }}</span>
                    <span class="label label-warning">{{ var.protectedPropertiesNumber }}</span>
                    <span class="label label-important">{{ var.privatePropertiesNumber }}</span>
                </span>

            </a>
        </div>
        <div id="object_data_{{ var.id }}" class="accordion-body collapse {% if expanded %}in{% endif %}">
            <div class="accordion-inner">

                {% for data in var.objectProperties %}
                    {{ render_type(data.value, data.name, data.visibility)|raw }}
                {% endfor %}

            </div>
        </div>

    </div>

    {% endif %}





    {% if var.classFile is not empty %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" {#data-parent="#c{{ var.id }}"#} href="#object_info_{{ var.id }}">
                Class info
            </a>
        </div>
        <div id="object_info_{{ var.id }}" class="accordion-body collapse {% if expanded %}in{% endif %}">
            <div class="accordion-inner">
                {% if var.abstract %}<span class="label label-warning pull-right">abstract</span>{% endif %}
                {% if var.final %}<span class="label label-warning pull-right">final</span>{% endif %}
                {% if var.classFile is not empty %}
                    <div class="final clearfix">Filename: {{ var.classFile }}</div>
                {% endif %}
                {% if var.classInterfaces is not empty %}
                    <div class="final">Interfaces: {{ var.classInterfaces }}</div>
                {% endif %}
                {% if var.classTraits is not empty %}
                    <div class="final">Traits: {{ var.classTraits }}</div>
                {% endif %}
                {% if var.classNamespace is not empty %}
                    <div class="final">Namespace: {{ var.classNamespace }}</div>
                {% endif %}
                {% if var.classParent is not empty %}
                    <div class="final">Parent: {{ var.classParent }}</div>
                {% endif %}
            </div>
        </div>

    </div>

    {% endif %}

    {% if var.classConstants is not empty %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#c{{ var.id }}" href="#object_constants_{{ var.id }}">
                <span>Class constants</span>
                <span class="pull-right">
                    <span class="label label-inverse">{{ var.classConstants|length }}</span>
                </span>
            </a>
        </div>
        <div id="object_constants_{{ var.id }}" class="accordion-body collapse {% if expanded %}in{% endif %}">
            <div class="accordion-inner">
                {% for key,constant in var.classConstants %}
                    {{ render_type(constant.value, constant.name)|raw }}
                {% endfor %}
            </div>
        </div>

    </div>
    {% endif %}

    {% if var.classMethods is not empty %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#c{{ var.id }}" href="#object_methods_{{ var.id }}">
                <span>Methods</span>
                <span class="pull-right">
                    <span class="label label-success">{{ var.publicMethodsNumber }}</span>
                    <span class="label label-warning">{{ var.protectedMethodsNumber }}</span>
                    <span class="label label-important">{{ var.privateMethodsNumber }}</span>
                </span>
            </a>
        </div>
        <div id="object_methods_{{ var.id }}" class="accordion-body collapse {% if expanded %}in{% endif %}">
            <div class="accordion-inner">
                {% for method in var.classMethods %}
                    {{ m.render_object_method(method) }}
                {% endfor %}
            </div>
        </div>

    </div>
    {% endif %}

    {% else %}
        <span class="muted"><i class="icon-warning-sign"></i> Object max nesting level reached</span>
    {% endif %}
{% endblock %}
