{% import "_macros.html.twig" as m %}

{% spaceless %}
    {% set id = random(1000) %}
    <label for="tree_array_{{ id }}">
        {% if array_key is not empty %}
            <span class="key">[{{ array_key }}]:</span>
        {% endif %}

        <span class="switcher">array({{ var.length }})</span>
    </label>
    <input type="checkbox" id="tree_array_{{ id }}">
    <ol>
        {% for var in var.value %}
            <li>
                {{ render_type(var)|raw }}
            </li>
        {% endfor %}
    </ol>
{% endspaceless %}
