{% macro indent(level) %}
    {% for i in 1..level %}
        <tab>
    {% endfor %}
{% endmacro %}

{% macro array_block(title, data, level, show_keys) %}
    {{ _self.indent(level) }}{{ title }}<intro>

    {% for key,var in data %}
        {{ _self.indent(level) }}
        {{ var.render(key, 'txt')|raw }}
    {% endfor %}
{% endmacro %}

{% macro text_block(title, data, level, show_keys) %}
    {{ _self.indent(level) }}{{ title }}<intro>

    {% for key,var in data %}
        {{ _self.indent(level) }}
        {% if show_keys %}{{ key }}:<space>{% endif %}
        {{ var|replace({' ': '<space>'})|raw }}<intro>
    {% endfor %}
{% endmacro %}

{% macro array_key(key) %}
    {% if key is not empty %}
        [{{ key|replace({' ': '<space>'})|raw }}]:<space>
    {% endif %}
{% endmacro %}


{% macro property_visibility(var) %}
    {% if var is not empty %}
    <span class="array_key">

                {% if key.visibility is defined %}
                    <span class="label {{ _self.visibility_color(method.visibility) }}">
                        <i class="icon-eye-open icon-white"></i>
                    </span>
                {% endif %}

                <span class="label label-info">
                    {% if key.name is defined %}
                        {{ key.name }}
                    {% else %}
                        {{ key }}
                    {% endif %}
                </span>
            </span>
        {% endif %}
{% endmacro %}