{% spaceless %}
    {% set id = random(1000) %}
    <label for="tree_array_{{ id }}">
        {% if array_key is not empty %}
            <span class="key">[{{ array_key }}]:</span>
        {% endif %}

        <span class="switcher">array({{ length }})</span>
    </label>
    <input type="checkbox" id="tree_array_{{ id }}">
    <ol>
        {% for key,var in value %}
            <li>
                {{ var.render(key)|raw }}
            </li>
        {% endfor %}
    </ol>
{% endspaceless %}