{% import "_macros.html.twig" as m %}

{% spaceless %}
    {% set id = random(1000) %}
    <label for="tree_object_{{ id }}">
        {% if array_key is not empty %}
            <span class="key">[{{ array_key }}]:</span>
        {% endif %}
        <span class="switcher">
            <span class="type">Object ({{ var.className }})</span>
            {% if var.toString is not empty %}
                <a class="tostring" href="javascript:void(0)" title="{{ var.toString }}"></a>
            {% endif %}
        </span>
    </label>
    <input type="checkbox" id="tree_object_{{ id }}">

    {% if not var.isLeaf %}
        <ol>



            {% if var.objectCustomData is not empty %}
                <li>
                    {{ var.objectCustomData.render('Data') }}

                </li>
            {% endif %}

            {% if var.classFile is not empty %}
                <li>
                    <label for="tree_object_classinfo_{{ id }}">
                        <span class="switcher">Class info</span>
                    </label>
                    <input type="checkbox" id="tree_object_classinfo_{{ id }}">
                    <ol>
                        {% if var.classFile is not empty %}
                            <li><div class="final">Filename: {{ var.classFile }}</div></li>
                        {% endif %}
                        {% if var.classInterface is not empty %}
                            <li><div class="final">Interfaces: {{ var.classInterface }}</div></li>
                        {% endif %}
                        {% if var.classNamespace is not empty %}
                            <li><div class="final">Namespace: {{ var.classNamespace }}</div></li>
                        {% endif %}
                        {% if var.classParent is not empty %}
                            <li><div class="final">Parent: {{ var.classParent }}</div></li>
                        {% endif %}
                    </ol>
                </li>
            {% endif %}

            {% if var.classConstants is not empty %}
                <li>
                    <label for="tree_object_classconstants_{{ id }}">
                        <span class="switcher">Class constants</span>
                    </label>
                    <input type="checkbox" id="tree_object_classconstants_{{ id }}">
                    <ol>
                        {% for key,constant in classConstants %}
                            <li>{{ constant.render(key)|raw }}</li>
                        {% endfor %}
                    </ol>
                </li>
            {% endif %}

            {% if var.classMethods is not empty %}
                <li>
                    <label for="tree_object_methods_{{ id }}">
                        <span class="switcher">Methods</span>
                    </label>
                    <input type="checkbox" id="tree_object_methods_{{ id }}">
                    <ol>
                        {% for method in var.classMethods %}
                            <li><div class="final">{{ method }}</div></li>
                        {% endfor %}
                    </ol>
                </li>
            {% endif %}
        </ol>
    {% endif %}

{% endspaceless %}