{% import "_macros.html.twig" as m %}

{% spaceless %}
    <label for="tree_array_{{ var.id }}">
        {% if array_key is not empty %}
            <span class="key">[{{ array_key }}]:</span>
        {% endif %}

        <span class="switcher">array({{ var.length }})</span>
    </label>
    <input type="checkbox" id="tree_array_{{ var.id }}" {% if expanded %}checked{% endif %} />
    <ol>
        {% for item in var.value %}
            <li>
                {{ render_type(item.value, item.key) }}
            </li>
        {% endfor %}
    </ol>
{% endspaceless %}
