<script type="text/template" id="ladybug_css_{{ id }}">
    {% for file in css %}
        {{ include_file(file)|raw }}
    {% endfor %}
</script>

<script type="text/template" id="ladybug_js_{{ id }}">
    {% for file in js %}
        {{ include_file(file)|raw }}
    {% endfor %}
</script>

<script type="text/template" id="ladybug_content_{{ id }}">
{% spaceless %}
<div class="ladybug">

    <ol class="tree">
        {% for node in nodes %}
            <li>{{ render_type(node)|raw }}</li>
        {% endfor %}
    </ol>

</div>
{% endspaceless %}
</script>

{% include "iframe.html.twig" %}