{% import "_macros.html.twig" as m %}

{% spaceless %}
    <label for="tree_object_{{ var.id }}">
        {% if array_key is not empty %}
            <span class="key">[{{ array_key }}]:</span>
        {% endif %}
        <span class="switcher">
            <span class="type"> object({% if var.helpLink is not empty %}<a href="{{ var.helpLink }}" class="doc {{ var.icon }}"></a>{% endif %}{{ var.className }})</span>
            {% if var.toString is not empty %}
                <a class="tostring" href="javascript:void(0)" title="{{ var.toString }}"></a>
            {% endif %}
        </span>
    </label>
    <input type="checkbox" id="tree_object_{{ var.id }}">

    {% if not var.terminal %}
        <ol>

            {% if var.objectCustomData is not empty %}
                <li>
                    <label for="tree_custom_data_{{ var.id }}">
                        <span class="switcher">Data</span>
                    </label>
                    <input type="checkbox" id="tree_custom_data_{{ var.id }}">
                    <ol>
                        <li>
                            {{ render_type(var.objectCustomData)|raw }}
                        </li>
                    </ol>


                </li>
            {% endif %}

            {% if var.classFile is not empty %}
                <li>
                    <label for="tree_object_classinfo_{{ var.id }}">
                        <span class="switcher">Class info</span>
                    </label>
                    <input type="checkbox" id="tree_object_classinfo_{{ var.id }}">
                    <ol>
                        {% if var.classFile is not empty %}
                            <li><div class="final">Filename: {{ var.classFile }}</div></li>
                        {% endif %}
                        {% if var.classInterface is not empty %}
                            <li><div class="final">Interfaces: {{ var.classInterface }}</div></li>
                        {% endif %}
                        {% if var.classNamespace is not empty %}
                            <li><div class="final">Namespace: {{ var.classNamespace }}</div></li>
                        {% endif %}
                        {% if var.classParent is not empty %}
                            <li><div class="final">Parent: {{ var.classParent }}</div></li>
                        {% endif %}
                    </ol>
                </li>
            {% endif %}

            {% if var.classConstants is not empty %}
                <li>
                    <label for="tree_object_classconstants_{{ var.id }}">
                        <span class="switcher">Class constants</span>
                    </label>
                    <input type="checkbox" id="tree_object_classconstants_{{ var.id }}">
                    <ol>
                        {% for key,constant in var.classConstants %}
                            <li>{{ render_type(constant.value, constant.name)|raw }}</li>
                        {% endfor %}
                    </ol>
                </li>
            {% endif %}

            {% if var.classMethods is not empty %}
                <li>
                    <label for="tree_object_methods_{{ var.id }}">
                        <span class="switcher">Methods</span>
                    </label>
                    <input type="checkbox" id="tree_object_methods_{{ var.id }}">
                    <ol>
                        {% for method in var.classMethods %}
                            <li>{{ m.render_object_method(method) }}</li>
                        {% endfor %}
                    </ol>
                </li>
            {% endif %}
        </ol>
    {% endif %}

{% endspaceless %}
