{% import "_macros.html.twig" as m %}

{% spaceless %}

<label for="tree_resource_{{ var.id }}">
    {% if array_key is not empty %}
    <span class="key">[{{ array_key }}]:</span>
    {% endif %}
        <span class="switcher">
            <span class="type">Resource ({{ var.resourceType }})</span>
        </span>
</label>
<input type="checkbox" id="tree_resource_{{ var.id }}">

{% if not var.isLeaf %}
<ol>

    {% if var.isCustomData %}
        <li style="border-left: 3px solid #eee">{{ var.resourceCustomData.render()|raw }}</li>
    {% endif %}

    {% if var.resourceCustomData is not empty %}
        {{ render_type(var.resourceCustomData)|raw}}
    {% endif %}
</ol>
{% endif %}

{% endspaceless %}
