{% import "_macros.html.twig" as m %}

{% spaceless %}

<label for="tree_resource_{{ var.id }}">
    {% if array_key is not empty %}
    <span class="key">[{{ array_key }}]:</span>
    {% endif %}
        <span class="switcher">
            <span class="type">resource({{ var.resourceType }})</span>
        </span>
</label>
<input type="checkbox" id="tree_resource_{{ var.id }}">

{% if not var.isLeaf %}
<ol>
    {% if var.resourceCustomData is not empty %}
        <li>
            <label for="tree_custom_data_{{ var.id }}">
                <span class="switcher">Data</span>
            </label>
            <input type="checkbox" id="tree_custom_data_{{ var.id }}">
            <ol>
                <li>
                    {{ render_type(var.resourceCustomData)|raw}}
                </li>
            </ol>
        </li>
    {% endif %}
</ol>
{% endif %}

{% endspaceless %}
